* {
  margin: 0px;
  margin-bottom: 20px;
}
.header-container {
  background-color: #1f2937;
  color: white;
}
h1 {
  font-size: 48px ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: left;
}
.link {
  display: flex;
  justify-content: right;
}
.header-logo {
  display: flex;
  justify-content: left;
  border-radius: 50%;
  height: 50px;
}
